<!-- START - Collapsible item - 1 - Overview -->
<div class="collapsible collapsible--expanded">
  <span class="chevron-background collapsible__chevron"
    ><i class="fa fa-chevron-right"></i
  ></span>

  <!-- START - Overview content will be handled with click event -->
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid expedita
    magnam voluptatibus sit quae.
  </div>
  <!-- END - Overview content -->
</div>
<!-- END - Collapsible item - 1 - Overview -->
