<!-- START - HEADER - Home -->
<header class="section section1 header active" id="home">
  <div class="header__content grid-column-1x2">
    <!-- START - Header - grid item - left -->
    <div class="header__left">
      <div class="header__left-h-shape"></div>
      <div class="header__image">
        <img src="img/Behzad.jpg" alt="" />
      </div>
    </div>
    <!-- END - Header - grid item - left -->

    <!-- START - Header - grid item - right -->
    <div class="header__right">
      <h1 class="header-right_header">
        Hi, I am <span>Behzi</span>
        A front-end Web Developer
      </h1>
      <p class="header-right_content">
        I am a Front-End developer with experience in Design and Develop
      </p>
      <div class="header-right__btn-container">
        <a href="#" class="main-btn">
          <span class="btn-txt">Download CV</span>
          <span class="btn-icon"><i class="fas fa-download"></i></span>
        </a>
      </div>
    </div>
    <!-- END - Header - grid item - right -->
  </div>
</header>
<!-- END - HEADER - Home -->
