<!-- START - List of options -->
<ul class="list list--vertical">
  <li class="list__item">
    <span><i class="fa fa-file"></i> Overview</span>
  </li>
  <li class="list__item">
    <span><i class="fa fa-bullseye"></i> Career</span>
  </li>
  <li class="list__item">
    <span><i class="fa fa-chart-line"></i> Performance</span>
  </li>
  <li class="list__item">
    <span><i class="fa fa-user"></i> Personal</span>
  </li>
  <li class="list__item">
    <span><i class="fa fa-id-badge"></i> Contact</span>
  </li>
  <li class="list__item">
    <span><i class="fa fa-suitcase"></i> Job</span>
  </li>
</ul>
<!-- END - List of options -->
