<!-- START - Portfolio -->
<section class="section section3 portfolio" id="portfolio">
  <!-- START - Main title -->
  <div class="main-title">
    <h2>My <span>Portfolio</span><span class="bg-text">My Work</span></h2>
    <p class="portfolio-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui culpa
      laboriosam labore odit cum maxime.
    </p>
    <div class="portfolios">
      <!-- START - Portfolio item - 1 -->
      <div class="portfolio-item">
        <div class="image">
          <img src="img/Behzad.jpg" alt="" />
        </div>
        <div class="hover-item">
          <h3>Project Source</h3>
          <div class="icons">
            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-behance"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - YouTube -->
            <a href="#" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <!-- END - YouTube -->
          </div>
        </div>
      </div>
      <!-- END - Portfolio item - 1 -->

      <!-- START - Portfolio item - 2 -->
      <div class="portfolio-item">
        <div class="image">
          <img src="img/Behzad.jpg" alt="" />
        </div>
        <div class="hover-item">
          <h3>Project Source</h3>
          <div class="icons">
            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-behance"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - YouTube -->
            <a href="#" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <!-- END - YouTube -->
          </div>
        </div>
      </div>
      <!-- END - Portfolio item - 2 -->

      <!-- START - Portfolio item - 3 -->
      <div class="portfolio-item">
        <div class="image">
          <img src="img/Behzad.jpg" alt="" />
        </div>
        <div class="hover-item">
          <h3>Project Source</h3>
          <div class="icons">
            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-behance"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - YouTube -->
            <a href="#" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <!-- END - YouTube -->
          </div>
        </div>
      </div>
      <!-- END - Portfolio item - 3 -->

      <!-- START - Portfolio item - 4 -->
      <div class="portfolio-item">
        <div class="image">
          <img src="img/Behzad.jpg" alt="" />
        </div>
        <div class="hover-item">
          <h3>Project Source</h3>
          <div class="icons">
            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-behance"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - YouTube -->
            <a href="#" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <!-- END - YouTube -->
          </div>
        </div>
      </div>
      <!-- END - Portfolio item - 4 -->

      <!-- START - Portfolio item - 5 -->
      <div class="portfolio-item">
        <div class="image">
          <img src="img/Behzad.jpg" alt="" />
        </div>
        <div class="hover-item">
          <h3>Project Source</h3>
          <div class="icons">
            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-behance"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - YouTube -->
            <a href="#" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <!-- END - YouTube -->
          </div>
        </div>
      </div>
      <!-- END - Portfolio item - 5 -->

      <!-- START - Portfolio item - 6 -->
      <div class="portfolio-item">
        <div class="image">
          <img src="img/Behzad.jpg" alt="" />
        </div>
        <div class="hover-item">
          <h3>Project Source</h3>
          <div class="icons">
            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - GitHub -->
            <a href="#" target="_blank">
              <i class="fab fa-behance"></i>
            </a>
            <!-- END - GitHub -->

            <!-- START - YouTube -->
            <a href="#" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
            <!-- END - YouTube -->
          </div>
        </div>
      </div>
      <!-- END - Portfolio item - 6 -->
    </div>
  </div>
  <!-- END - Main title -->
</section>
<!-- END - Portfolio -->
